<div class="create-botton"><%= link_to 'Создать статью', new_post_path %></div>

<% index = 0 %>
  <% @posts.each do |post| %>
    <% index += 1 %>
    <% if index.odd? %>
      <div class="title"><%= link_to post.title, post_path(post) %></div>
    <% else %>
      <div class="title title-even"><%= link_to post.title, post_path(post) %></div>
    <% end %>
    <div><%= link_to 'Delete post', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %></div>
  <% end %>
