<div><%= @post.title %></div>
<br>
<div>
  <%= @post.body %>
</div>

<div><%= link_to 'To home page', root_path %></div>
<div><%= link_to 'Delete post', post_path(@post), method: :delete, data: { confirm: 'Are you sure?'} %></div>
